<!-- users templates users dashboard.html-->

{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <br>
        <form action="/start_charging" method="POST">
            
            <button id="stat-bnt" class="btn">Start C.</button>
        
        </form>

        <br><br><br><br><br>
        <a href="{% url 'logout' %}">Logout</a>

    {% else %}    
        <a href="{% url 'login' %}">Login</a>
    {% endif %}     
</div>



{% endblock %}